body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* layout */

.container {
  display: flex;
  height: calc(100vh - 85px);
}

.sideNav {
  padding: 30px;
  overflow-y: auto;
  border-right: 1px solid #EBEBEB;
  background-color: #FFF;
}

.mainContent {
  flex: 1;
  overflow-y: auto;
  padding: 30px 30px;
  background-color: #F9F9F9;
}

/* link */
.link{
    color:#50CD89;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    text-decoration: none;
}

